*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.copyright{
    color: rgba(211, 211, 211, 0.3);
    font-size: 4px;
}

div .secret-text{
    color: rgba(211, 211, 211, 0.3);
    transform-origin: center;
    transition: 0.5s;
    transform: scale(0);
}

div:hover .secret-text{
    color: rgba(211, 211, 211, 0.1);
    transform-origin: center;
    transition: 0.5s;
    transform: scale(1);
}

.footer-selfdescription-image{
    width: 30px;
    border-radius: 15px;
}

.footer-social-media-icon{
    position: relative;
    width: 40px;
    height: 40px;
    list-style: none;
    background-color: black;
}

.footer-social-media-icon span{
    position: absolute;
    transition: transform 0.5s;
}

.footer-social-media-icon span:nth-child(1){
    width: 100%;
    height: 2px;
    background-color: white;
    top: 0;
    left: 0;
    transform-origin: right;
}

.footer-social-media-icon:hover span:nth-child(1){
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

.footer-social-media-icon span:nth-child(2){
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    right: 0;
    transform-origin: left;
}

.footer-social-media-icon:hover span:nth-child(2){
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.footer-social-media-icon span:nth-child(3){
    width: 2px;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: scale(0);
}

.footer-social-media-icon:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s;
}

.footer-social-media-icon span:nth-child(4){
    width: 2px;
    height: 100%;
    background-color: white;
    bottom: 0;
    right: 0;
    transform-origin: top;
    transform: scale(0);
}

.footer-social-media-icon:hover span:nth-child(4){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.header-text{
    color: black;
    transition: 0.25s;
}

#logo{
    font-size : 16px;
    transition: 0.25s;
}

.main-content{
    background-image: url("../img/background-4.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main-footer{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 1);
}

.navbar-background{
    background-color: rgba(255, 255, 255, 0.7);
}

#navbar-main{
    transition-property: background-color;
    transition-duration: 0.25s;
}

.social-media-icon{
    width: 16px;
    transition-duration: 0.25s;
    transition-property: all;
}

.secret-text{
    font-size: 4px;
}

#text-1{
    font-size: 36px;
}

#text-2{
    font-size: 19px;
}

#text-3{
    font-size: 10px;
    color: rgb(0, 0, 0, 0.6);
}

#text-4{
    font-size: 19px;
}

.w-custom{
    width: 100%!important;
}

@media only screen and (min-width: 380px){

    .copyright{
        font-size: 6px;
    }

    .footer-selfdescription-image{
        width: 35px;
        border-radius: 17.5px;
    }

    .footer-social-media-icon{
        width: 42px;
        height: 42px;
    }

    .main-footer{
        height: 90px;
    }

    .secret-text{
        font-size: 6px;
    }

    #text-1{
        font-size: 40px;
    }

    #text-2{
        font-size: 21px;
    }

    #text-3{
        font-size: 11px;
    }

    #text-4{
        font-size: 21px;
    }


    #logo{
        font-size: 18px;
    }

    .social-media-icon{
        width: 18px;
    }

    .w-custom{
        width: 100%!important;
    }
}

@media only screen and (min-width: 490px){

    .copyright{
        font-size: 8px;
    }

    .footer-selfdescription-image{
        width: 40px;
        border-radius: 20px;
    }

    .footer-social-media-icon{
        width: 44px;
        height: 44px;
    }

    .secret-text{
        font-size: 8px;
    }

    .main-footer{
        height: 100px;
    }

    #text-1{
        font-size: 44px;
    }

    #text-2{
        font-size: 23px;
    }

    #text-3{
        font-size: 12px;
    }

    #text-4{
        font-size: 23px;
    }


    #logo{
        font-size: 20px;
    }

    .social-media-icon{
        width: 20px;
    }

    .w-custom{
        width: 90%!important;
    }
}

@media only screen and (min-width: 576px){

    .copyright{
        font-size: 10px;
    }

    .footer-selfdescription-image{
        width: 45px;
        border-radius: 22.5px;
    }

    .footer-social-media-icon{
        width: 48px;
        height: 48px;
    }

    .main-footer{
        height: 120px;
    }

    .secret-text{
        font-size: 10px;
    }

    #text-1{
        font-size: 48px;
    }

    #text-2{
        font-size: 26px;
    }

    #text-3{
        font-size: 14px;
    }

    #text-4{
        font-size: 26px;
    }


    #logo{
        font-size: 22px;
    }

    .social-media-icon{
        width: 22px;
    }

    .w-custom{
        width: 80%!important;
    }
}

@media only screen and (min-width: 768px){

    .copyright{
        font-size: 12px;
    }

    .footer-selfdescription-image{
        width: 50px;
        border-radius: 25px;
    }

    .footer-social-media-icon{
        width: 52px;
        height: 52px;
    }

    .main-footer{
        height: 150px;
    }

    .secret-text{
        font-size: 12px;
    }

    #text-1{
        font-size: 50px;
    }

    #text-2{
        font-size: 28px;
    }

    #text-3{
        font-size: 16px;
    }

    #text-4{
        font-size: 28px;
    }

    #logo{
        font-size: 24px;
    }

    .social-media-icon{
        width: 24px;
    }

    .w-custom{
        width: 70%!important;
    }
}

@media only screen and (min-width: 992px){

    .copyright{
        font-size: 14px;
    }

    .footer-selfdescription-image{
        width: 55px;
        border-radius: 27.5px;
    }

    .footer-social-media-icon{
        width: 56px;
        height: 56px;
    }

    .main-footer{
        height: 180px;
    }

    .secret-text{
        font-size: 14px;
    }

    #text-1{
        font-size: 52px;
    }

    #text-2{
        font-size: 30px;
    }

    #text-3{
        font-size: 18px;
    }

    #text-4{
        font-size: 30px;
    }

    #logo{
        font-size: 28px;
    }

    .social-media-icon{
        width: 28px;
    }

    .w-custom{
        width: 60%!important;
    }
}

@media only screen and (min-width: 1200px){

    .copyright{
        font-size: 16px;
    }

    .footer-selfdescription-image{
        width: 60px;
        border-radius: 30px;
    }

    .footer-social-media-icon{
        width: 60px;
        height: 60px;
    }

    .main-footer{
        height: 230px;
    }

    .secret-text{
        font-size: 16px;
    }

    #text-1{
        font-size: 54px;
    }

    #text-2{
        font-size: 32px;
    }

    #text-3{
        font-size: 20px;
    }

    #text-4{
        font-size: 32px;
    }

    #logo{
        font-size: 32px;
    }

    .social-media-icon{
        width: 32px;
    }

    .w-custom{
        width: 50%!important;
    }
}