body{
    font-family: 'Roboto', sans-serif;
}

.header-text{
    color: white;
    width: 100vw;
    height: 100vh;
}

#logo{
    font-size : 32px;
    transition : 0.25s;
}

.master-header{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.navbar-background{
    background-color: rgba(0, 0, 0, 0.7);
}

#navbar-main{
    transition-property: background-color;
    transition-duration: 0.25s;
}

.secret-text{
    color: white;
    padding-top: 250px;
    padding-left: 5%;
}