*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth!important;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#car{
    position: absolute;
    width: 500px;
    top: 25%;
    animation: car-moving 10s linear infinite;
    left: 100%;
}

#rest-car{
    animation: car-bouncing 1s ease infinite;
}

#left-wheel{
    animation: wheel-spinning 0.7s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#right-wheel{
    animation: wheel-spinning 0.7s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes wheel-spinning{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(-360deg);}
}

@keyframes car-moving{
    0%{left: 100%;}
    30%{transform: translateY(0);}
    40%{transform: translateY(50px);}
    50%{transform: translateY(0);}
    60%{transform: translateY(-50px);}
    70%{transform: translateY(0);}
    100%{left: -500px;}
}

@keyframes car-bouncing{
    0%{transform: translateY(0);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0);}
}


.header-animation-container{
    z-index: 2;
}

.header-arrow{
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 32px;
    color: black;
    z-index: 3;
}

.header-arrow-icon{
    color: black;
}

.header-button{
    z-index: 1;
}

.header-text{
    color: black;
    transition: 0.25s;
    scroll-behavior: smooth;
}

#logo{
    font-size : 16px;
    transition: 0.25s;
}

.header-content{
    background-image: radial-gradient(rgb(175, 175, 175), rgb(224, 224, 224));
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#letter-1{
    font-size: 24px;
    animation-name: text-appear-1;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    opacity: 0;
    transition: 0.5s;
}

#letter-2{
    font-size: 24px;
    animation-name: text-appear-2;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;
    transition: 0.5s;
}

#letter-3{
    font-size: 24px;
    animation-name: text-appear-3;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
    transition: 0.5s;
}

#letter-4{
    font-size: 24px;
    animation-name: text-appear-4;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    opacity: 0;
    transition: 0.5s;
}

#letter-5{
    font-size: 24px;
    animation-name: text-appear-5;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
    transition: 0.5s;
}

#letter-6{
    font-size: 24px;
    animation-name: text-appear-6;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    opacity: 0;
    transition: 0.5s;
}

#letter-7{
    font-size: 24px;
    animation-name: text-appear-7;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    opacity: 0;
    transition: 0.5s;
}

#letter-8{
    font-size: 24px;
    animation-name: text-appear-8;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    opacity: 0;
    transition: 0.5s;
}

.main-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#main-section-1{
    position: relative;
    display: flex;
    background-color: #eee;
    justify-content: space-around;
    align-items: center;
}

.main-section-1-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
}

.main-section-1-button a{
    text-decoration: none;
    color: black;
    font-size: 32px;
    width: 300px;
    height: 100px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1),
                2px 2px 12px rgba(0, 0, 0, 0.3),
                -1px -1px 8px rgba(255, 255, 255, 1),
                -2px -2px 12px rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section-1-button:hover a{
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.1),
                inset 2px 2px 12px rgba(0, 0, 0, 0.3),
                inset -1px -1px 8px rgba(255, 255, 255, 1),
                inset -2px -2px 12px rgba(255, 255, 255, 1);
}

.main-section-1-image{
    flex-basis: 40%;
    text-align: center;
}

.main-section-1-image img{
    width: 80%;
}

.main-section-1-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-section-2{
    position: relative;
    background: rgb(143, 178, 226);
}

.main-section-2-button{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 100px;
    text-align: center;
    animation: button-moving 11s linear 1;
}

.main-section-2-button a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 40px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-section-2-button a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-section-2-button a:hover span:nth-child(1){
    animation: background-rainbow-1 2s linear 1 forwards;
}

.main-section-2-button a:hover span:nth-child(2){
    animation: background-rainbow-2 2s linear 1 forwards;
    animation-delay: 0.35s;
}

.main-section-2-button a:hover span:nth-child(3){
    animation: background-rainbow-3 2s linear 1 forwards;
    animation-delay: 0.7s;
}

.main-section-2-button a:hover span:nth-child(4){
    animation: background-rainbow-4 2s linear 1 forwards;
    animation-delay: 1.05s;
}

.main-section-2-button a:hover span:nth-child(5){
    animation: background-rainbow-5 2s linear 1 forwards;
    animation-delay: 1.4s;
}

.main-section-2-button a:hover span:nth-child(6){
    animation: background-rainbow-6 2s linear 1 forwards;
    animation-delay: 1.75s;
}

@keyframes background-rainbow-1{
    0%{background-color: rgb(221, 54, 54); clip-path: circle(0% at center);}
    100%{background-color: rgb(223, 165, 59); clip-path: circle(100% at center);}
}

@keyframes background-rainbow-2{
    0%{background-color: rgb(223, 165, 59); clip-path: circle(0% at center);}
    100%{background-color: rgb(231, 231, 47); clip-path: circle(100% at center);}
}

@keyframes background-rainbow-3{
    0%{background-color: rgb(231, 231, 47); clip-path: circle(0% at center);}
    100%{background-color: rgb(35, 158, 35); clip-path: circle(100% at center);}
}

@keyframes background-rainbow-4{
    0%{background-color: rgb(35, 158, 35); clip-path: circle(0% at center);}
    100%{background-color: rgb(52, 96, 214); clip-path: circle(100% at center);}
}

@keyframes background-rainbow-5{
    0%{background-color: rgb(52, 96, 214); clip-path: circle(0% at center);}
    100%{background-color: rgb(167, 49, 167); clip-path: circle(100% at center);}
}

@keyframes background-rainbow-6{
    0%{background-color: rgb(167, 49, 167); clip-path: circle(0% at center);}
    100%{background-color: rgb(221, 54, 54); clip-path: circle(100% at center);}
}

.navbar-background{
    background-color: rgba(255, 255, 255, 0.7);
}

#navbar-main{
    transition-property: background-color;
    transition-duration: 0.25s;
}

#piece-1{
    position: absolute;
    animation-name: piece-falling-1;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -2s;
}

#piece-2{
    position: absolute;
    animation-name: piece-falling-2;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#piece-3{
    position: absolute;
    filter: blur(1px);
    animation-name: piece-falling-2;
    animation-duration: 12s;
    animation-delay: -3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#piece-4{
    position: absolute;
    animation-name: piece-falling-1;
    animation-duration: 16s;
    animation-delay: -7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#piece-5{
    position: absolute;
    filter: blur(1px);
    animation-name: piece-falling-2;
    animation-duration: 15s;
    animation-delay: -5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#piece-6{
    position: absolute;
    filter: blur(1px);
    animation-name: piece-falling-1;
    animation-duration: 48s;
    animation-delay: -18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#piece-7{
    position: absolute;
    filter: blur(1px);
    animation-name: piece-falling-2;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -4s;
}

#piece-8{
    position: absolute;
    animation-name: piece-falling-1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -7s;
}

#piece-9{
    position: absolute;
    animation-name: piece-falling-1;
    animation-duration: 10s;
    animation-delay: -5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#piece-10{
    position: absolute;
    animation-name: piece-falling-2;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#piece-11{
    position: absolute;
    filter: blur(1px);
    animation-name: piece-falling-1;
    animation-duration: 32s;
    animation-delay: -8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#piece-12{
    position: absolute;
    filter: blur(1px);
    animation-name: piece-falling-2;
    animation-duration: 22s;
    animation-delay: -18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.piece-big{
    width: 50px;
}

@keyframes piece-falling-1{
    0%{top: 0; opacity: 0; transform: rotate(0deg) translateX(0px);}
    10%{opacity: 1;}
    25%{transform: rotate(90deg) translateX(10px);}
    50%{transform: rotate(180deg) translateX(-10px);}
    75%{transform: rotate(270deg) translateX(10px);}
    100%{top: 80%;transform: rotate(360deg) translateX(-10px);}
}

@keyframes piece-falling-2{
    0%{top: 0; opacity: 0; transform: rotate(0deg) translateX(0px);}
    10%{opacity: 1;}
    25%{transform: rotate(-90deg) translateX(10px);}
    50%{transform: rotate(-180deg) translateX(-10px);}
    75%{transform: rotate(-270deg) translateX(10px);}
    100%{top: 80%;transform: rotate(-360deg) translateX(-10px);}
}

.piece-set{
    position: absolute;
}

.piece-small{
    width: 30px;
}

.social-media-icon{
    width: 16px;
    transition-duration: 0.25s;
    transition-property: all;
}

.st0{opacity:0.1;fill:#6C63FF;enable-background:new;}
.st1{fill:#121C3F;}
.st2{fill:#2856B8;}
.st3{fill:#8CD0F3;}
.st4{opacity:0.2;fill:#FFFFFF;enable-background:new;}
.st5{opacity:0.5;fill:#18218A;enable-background:new;}
.st6{opacity:0.2;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;enable-background:new;}
.st7{fill:#182A7C;}
.st8{fill:#3F8FFE;}

@keyframes text-appear-1{
    from{opacity: 0; transform: translateX(0);}
    to{opacity: 1; transform: translateX(-87.5px);}
}

@keyframes text-appear-2{
    from{opacity: 0; transform: translateX(0);}
    to{opacity: 1; transform: translateX(-62.5px);}
}

@keyframes text-appear-3{
    from{opacity: 0; transform: translateX(0);}
    to{opacity: 1; transform: translateX(-37.5px);}
}

@keyframes text-appear-4{
    from{opacity: 0; transform: translateX(0);}
    to{opacity: 1; transform: translateX(-12.5px);}
}

@keyframes text-appear-5{
    from{opacity: 0; transform: translateX(0);}
    to{opacity: 1; transform: translateX(+12.5px);}
}

@keyframes text-appear-6{
    from{opacity: 0; transform: translateX(0);}
    to{opacity: 1; transform: translateX(+37.5px);}
}

@keyframes text-appear-7{
    from{opacity: 0; transform: translateX(0);}
    to{opacity: 1; transform: translateX(+62.5px);}
}

@keyframes text-appear-8{
    from{opacity: 0; transform: translateX(0);}
    to{opacity: 1; transform: translateX(+87.5px);}
}

@media only screen and (min-width: 380px){

    #logo{
        font-size: 20px;
    }

    .social-media-icon{
        width: 20px;
    }
}

@media only screen and (min-width: 576px){

    #logo{
        font-size: 22px;
    }

    .piece-big{
        width: 60px;
    }

    .piece-small{
        width: 35px;
    }

    .social-media-icon{
        width: 22px;
    }

}

@media only screen and (min-width: 768px){

    #logo{
        font-size: 24px;
    }

    .piece-big{
        width: 75px;
    }

    .piece-small{
        width: 45px;
    }

    .social-media-icon{
        width: 24px;
    }


@media only screen and (min-width: 992px){

    #letter-1{
        font-size: 48px;
    }

    #letter-2{
        font-size: 48px;
    }

    #letter-3{
        font-size: 48px;
    }

    #letter-4{
        font-size: 48px;
    }

    #letter-5{
        font-size: 48px;
    }

    #letter-6{
        font-size: 48px;
    }

    #letter-7{
        font-size: 48px;
    }

    #letter-8{
        font-size: 48px;
    }

    #logo{
        font-size: 28px;
    }

    .piece-big{
        width: 90px;
    }

    .piece-small{
        width: 55px;
    }

    .social-media-icon{
        width: 28px;
    }

    @keyframes text-appear-1{
        from{opacity: 0; transform: translateX(0);}
        to{opacity: 1; transform: translateX(-175px);}
    }
    
    @keyframes text-appear-2{
        from{opacity: 0; transform: translateX(0);}
        to{opacity: 1; transform: translateX(-125px);}
    }
    
    @keyframes text-appear-3{
        from{opacity: 0; transform: translateX(0);}
        to{opacity: 1; transform: translateX(-75px);}
    }
    
    @keyframes text-appear-4{
        from{opacity: 0; transform: translateX(0);}
        to{opacity: 1; transform: translateX(-25px);}
    }
    
    @keyframes text-appear-5{
        from{opacity: 0; transform: translateX(0);}
        to{opacity: 1; transform: translateX(+25px);}
    }
    
    @keyframes text-appear-6{
        from{opacity: 0; transform: translateX(0);}
        to{opacity: 1; transform: translateX(+75px);}
    }
    
    @keyframes text-appear-7{
        from{opacity: 0; transform: translateX(0);}
        to{opacity: 1; transform: translateX(+125px);}
    }
    
    @keyframes text-appear-8{
        from{opacity: 0; transform: translateX(0);}
        to{opacity: 1; transform: translateX(+175px);}
    }

}

@media (min-width: 1200px){

    #logo{
        font-size: 32px;
    }

    .piece-big{
        width: 100px;
    }

    .piece-small{
        width: 65px;
    }

    .social-media-icon{
        width: 32px;
    }

}